.navbar-home{
    color:$txt-color-white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 55px;
}

.nav-list{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;
    padding: 20px;
    color: white;
    gap: 10px;
    .nav-link{
     button{
        height: 30px;
        width: 80px;
        cursor: pointer;
     }
    }
}
