.navbar-home {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 55px;
  color: white;
  z-index: -1;
}
.logo {
  font-size: 20px;
}

.nav-homepage1-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 100%;
  padding: 20px;
  color: white;
}

.nav-homepage2-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 100%;
  padding: 20px;
  color: white;
  .btn-nav {
    border-radius: 64px;
    height: 34px;
    width: 90px;
    border: none;
    cursor: pointer;
    background-color: $btn-color-blue;
    color: $txt-color-white;
  }
}
.nav-homeLinks1 {
  text-decoration: none;
  color: white;
  font-size: 16px;
  margin: 0 10px;
  cursor: pointer;
}

.nav-homeLinks2 {
  text-decoration: none;
  color: white;
  font-size: 16px;
  margin: 0 10px;
  cursor: pointer;
  .btn-nav{
    border-radius: 64px;
    height: 34px;
    width: 90px;
    border: none;
    cursor: pointer;
    background-color: $btn-color-blue;
    color: $txt-color-white;
}
}

.home-burger-menu {
  display: none;
}

//Media Queries
//Mobile
@include mobile-device1(mobile-md) {
  @include nav-mobile;
}

@include mobile-device-md(mobile-lg,mobile-xl){
  @include nav-mobile;
}

//Tablet
@include tablet-device-sm(tablet-sm, tablet-md){
  @include nav-mobile;
}


