.navbar-home{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  height: 55px;
  color: white;
  z-index: -1;
  background-color: $bg-color;
}
.logo {
  font-size: 20px;
}

.nav-homepage1-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 100%;
  padding: 20px;
  color: white;
}

.nav-homepage2-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 100%;
  padding: 20px;
  color: white;
  .btn-nav{
      border-radius: 64px;
      height: 34px;
      width: 90px;
      border: none;
      cursor: pointer;
      background-color: $btn-color-blue;
      color: $txt-color-white;
  }
}
.nav-homeLinks1{
  text-decoration: none;
  color: white;
  font-size: 16px;
  margin: 0 10px;
  cursor: pointer;
}

.nav-homeLinks2{
  text-decoration: none;
  color: white;
  font-size: 16px;
  margin: 0 10px;
  cursor: pointer;
}

.burger-menu {
  display: none;
}

//Media Queries
@include mobile-device1(mobile-md){
.nav-homepage1,.nav-homepage2{
  display: none;
}
  .nav-links-mobile1{
    @include dropdown-navDesign;  
  }

  .nav-links-mobile2{
    @include dropdown-navDesign;
    text-align: center;
    top:160px;
  }

  .burger-menu{
    display: block;
    position: absolute;
    top: 14px;
    right: 25px;
    font-size: 30px;
    border: none;
    outline: none;
    background-color: $bg-color;
    color: $txt-color-white;
  }
  .nav-homeLinks1{
    text-align: center;
    padding: 32px;
    list-style: none;
    width: 100%;
    padding: 20px;
  }

  .burger-menu{
    display: block;
    position: absolute;
    font-size: 22px;
    border: none;
  }
 
} 