.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 55px;
    background-color: grey;
    color: white;
    z-index: -1;
  }
  .logo {
    font-size: 20px;
    //font-family: $font-quick;

  }
  
  .nav-links {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 75%;
    padding: 20px;
    color: white;
  }
  
  .nav-links1{
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    //font-family: $font-quick;
  }

  .nav-links1:hover{
    color:red;
  }

  .burger-menu {
    display: none;
  }
  