.support-about {
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: $font-montserrat;
  p {
    line-height: 1.7;
  }
}

.support-type {
  min-height: 350px;
  background-color: #c8c8c8;
  padding: 30px;
  font-family: $font-montserrat;
  .support {
    .help-h1 {
      display: flex;
      justify-content: space-evenly;
      width: 50%;
      padding: 15px 0px 10px 0px;
    }
    .solutions-p {
      display: flex;
      justify-content: space-evenly;
      width: 58.4%;
      padding:0px 0px 10px 40px;
    }
  }

  .concerns-div {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, auto);
    gap: 100px;
    padding-top: 20px;
    .concern-box {
      display: grid;
      gap: 10px;
      .concern-desc {
        p span {
          display: block;
          line-height: 1.5;
        }
      }
      .concernBtn-con {
        .btn-concern {
          height: 30px;
          width: 110px;
          background-color: $btn-color-blue;
          color: $txt-color-white;
          border: none;
          cursor: pointer;
        }
      }
    }
  }
}

//Mediaquery
//Mobile 480px
@include mobile-device1(mobile-md) {
  .support-about {
    p {
      padding: 20px;
      text-align: center;
    }
  }
  .support-type {
    .support {
      .help-h1 {
        padding: 5px;
        width: 100%;
      }
      .solutions-p {
        width: 100%;
        padding: 10px;
      }
    }
    .concerns-div {
      grid-template-columns: repeat(1, auto);
      gap: 40px;
    }
  }
}

//Mobile 481px - 767px
@include mobile-device-md(mobile-lg, mobile-xl) {
  .support-about {
    p {
      padding: 20px;
      text-align: center;
    }
  }
  .support-type {
    .support {
      .help-h1 {
        padding: 15px;
        width: 100%;
      }
      .solutions-p {
        width: 100%;
        padding: 20px;
      }
    }
    .concerns-div {
      grid-template-columns: repeat(1, auto);
      gap: 40px;
    }
  }
}

//Tablet 768px - 1024px
@include tablet-device-sm(tablet-sm, tablet-md) {
  .support-about {
    p {
      padding: 20px;
      text-align: center;
    }
  }
  .support-type {
    .support {
      .help-h1 {
        width: 100%;
      }
      .solutions-p {
        width: 100%;
      }
    }
    .concerns-div {
      grid-template-columns: repeat(1, auto);
      gap: 40px;
    }
  }
}
