.support-about {
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  p {
    line-height: 1.7;
  }
}

.support-type {
  height: 350px;
  background-color: #c8c8c8;
 padding: 30px;
 font-size: 17px;

  .help-h1 {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    padding: 20px 0 8px 0;
  }
  .solutions-p {
    display: flex;
    justify-content: space-evenly;
    width: 58.4%;
    padding-bottom: 10px;
  }

  .concerns-div {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, auto);
    gap: 100px;
    padding-top: 20px;
    font-size: 17px;
    .concern-box {
      display: grid;
      gap:10px;
      .concern-desc{
        p span{
            display: block;
            line-height: 1.5;
        }
      }
    }
  }
}
