$bg-color: #841313;
$txt-color-white:#FFFFFF;
$txt-color-black:#000000;
$btn-color-blue:#1C548A;
$btn-plan-color:#9A2424;

$font-color1:#FFFFFF;
$bg-color1:#000000;
$bg-color2:#201D1D;
$bg-color3:#434343;
$bg-color4:#ba2323;